body {
  background-color: black;
  color: limegreen;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.header,
.footer {
  border: 4px solid limegreen;
  padding: 10px;
  margin-bottom: 20px;
}

